@model List<CinemaViewModel>

<h1>Catalogo dei cinema</h1>

@Html.ActionLink("Aggiungi film", "Aggiungi", "Cinema")


@foreach (CinemaViewModel cinema in Model)
{
    <hr>
    <div class="row course">
        <div class="col-md-1"> 
            <img src="@cinema.ImgPath" width="52" height="52">
        </div>
        <div class="col-md-5">
            <h2>@cinema.Titolo</h2>
            <author>@cinema.Regista</author>
        </div>
    <div class="col-md-2 d-flex align-items-center">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@cinema.Id">Dettaglio</a>  
        </div>
    </div>
}